# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cloudflare
.wrangler/
wrangler.toml

# ROMs (descomentar si quieres trackear tus ROMs en Git)
# roms/**/*.sfc
# roms/**/*.smc
# roms/**/*.md
# roms/**/*.bin
# roms/**/*.gen
# roms/**/*.gb
# roms/**/*.gbc
# roms/**/*.gba
# roms/**/*.n64
# roms/**/*.z64
# roms/**/*.nes
